<div class="dialog" (keydown)="onKeyDown($event)">
  <div class="header">
    <div class="close icon-button" (click)="close()">
      <mat-icon>close</mat-icon>
    </div>
    <div class="title">{{ currentPage().title }}</div>
    <div class="subtitle">{{ currentPage().subtitle }}</div>
  </div>
  <div class="content" [innerHTML]="currentPage().content"></div>
  <footer>
    <app-progress-indicator
      [count]="pageCount()"
      [current]="pageNumber()"
    ></app-progress-indicator>
    <div class="actions">
      <div
        class="prev icon-button"
        (click)="gotoPreviousPage()"
        [class.disabled]="pageNumber() === 0"
      >
        <mat-icon>skip_previous </mat-icon>
      </div>
      <div class="exit" (click)="close()">Einleitung überspringen</div>
      <div
        class="next icon-button"
        (click)="gotoNextPage()"
        [class.disabled]="pageNumber() === pageCount() - 1"
      >
        <mat-icon>skip_next</mat-icon>
      </div>
    </div>
  </footer>
</div>
