:host {
  display: block;
  width: clamp(360px, 90vw, 1200px);
  margin: 0 auto;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  55% {
    opacity: 0.3;
  }
  95% {
    opacity: 1;
  }
}

.top-navigation {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  color: var(--active-foreground);
  background-color: var(--active-background);
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  font-weight: 700;

  .title {
    grid-column: 1/5;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
  }

  .menu {
    display: flex;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
}

.bottom-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  color: var(--active-foreground);
  background-color: var(--active-background);
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);

  .prev,
  .next {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 0.5rem;
    transition: scale 0.3s ease-in-out;
  }

  .prev {
    justify-self: start;

    .long {
      display: none;
    }
  }

  .prev:hover {
    scale: 1.1;
  }

  .next {
    justify-self: end;

    .long {
      display: none;
    }
  }

  .next:hover {
    scale: 1.1;
  }

  @media screen and (min-width: 40rem) {
    .short {
      display: none;
    }
    .prev .long,
    .next .long {
      display: block;
    }
  }
}

.content {
  padding: 1rem;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
}
