<div class="top-navigation">
  <div class="title">Kompetenzcheck vom 10.02.2024 (Selbsteinschätzung)</div>
  <div class="menu">
    <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu" class="popup">
      @for(page of pages; track page.name) { @if(page.inMenu) {
      <button mat-menu-item (click)="gotoPage(page)">{{ page.name }}</button>
      } }
    </mat-menu>
  </div>
  <div class="module-title">{{ title() }}</div>
  <div class="info" [class.blinking]="infoNotYetRead()" (click)="openInfo()">
    <mat-icon>info</mat-icon>
  </div>
  <div class="print"><mat-icon>print</mat-icon></div>
</div>
<div class="content">
  <h1>Inhalt des Moduls</h1>
  <h2>Zweck dieser Demo</h2>
  <p>
    Diese Demo soll zum einen die Navigation zwischen den Modulen über die Kopf-
    und Fusszeile demonstrieren.
  </p>
  <p>
    Außerdem ist die Schriftgröße in dieser Demo teilweise dynamisch. Ab einer
    bestimmten Größe des Browsers bleibt die Schriftgröße konstant. Wird der
    Browser kleiner, verkleinert sich auch die Schrift bis sie ihre Minimalgröße
    erreicht hat.
  </p>
  <h3>Hier geht es mit Fülltext weiter</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim maxime
    molestiae consequuntur reprehenderit eum? Non ipsum illo dignissimos
    possimus. Illo, non facere possimus quidem ad pariatur incidunt earum autem
    dolores! Rem iste velit delectus atque suscipit voluptatum. Placeat
    assumenda porro accusantium, qui praesentium veniam? Saepe minima, assumenda
    adipisci rerum ut repudiandae neque accusantium aliquam ab incidunt. Alias
    inventore, ut quidem, dolor consectetur eius officiis a, veniam eligendi
    vitae nemo. Voluptate, culpa doloremque. Quam nostrum reiciendis eveniet
    repellendus assumenda expedita? Soluta dolorum nulla tenetur repellendus
    nostrum. Facilis adipisci exercitationem, asperiores velit explicabo
    provident numquam quia sapiente, sequi sint ullam optio minus error magni
    iusto deserunt alias vel dicta! Dolorem iusto aut blanditiis et quidem, non
    veritatis possimus exercitationem eius mollitia modi similique eos placeat
    voluptate itaque impedit ullam voluptatibus eaque dolorum quo ducimus ad in!
    Unde accusamus impedit modi explicabo tempore obcaecati eos qui ullam
    maiores, earum ipsum hic repudiandae neque non beatae laboriosam eaque nihil
    saepe sequi dolore eius odit totam! Voluptatibus nemo eligendi enim aliquam,
    ea non, expedita rerum impedit quo necessitatibus fuga incidunt voluptatum?
    Praesentium iste qui officia minima, deserunt atque aliquid quae ducimus
    exercitationem necessitatibus dicta nobis nostrum, delectus, perspiciatis
    accusamus officiis. Voluptate ipsam error minima sit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis provident
    earum, reprehenderit molestias error assumenda quod, ex eligendi
    praesentium, voluptatibus in nulla sint ratione enim. Fuga, illum.
    Provident, laboriosam vitae perspiciatis doloremque quos libero minima animi
    saepe perferendis enim alias sapiente beatae accusantium eum earum omnis
    dolorem quas, nesciunt officiis quo. Similique, deserunt. Perspiciatis,
    fugit voluptatem? Repellendus eaque, incidunt obcaecati reprehenderit
    impedit adipisci numquam animi iusto voluptatibus eos enim doloremque
    aliquid amet architecto cumque molestiae sed beatae nisi voluptate officiis
    optio. Harum animi suscipit qui, illo corrupti dolores labore tempore
    accusamus ab atque? Nesciunt, ipsum dolorem! Inventore illum accusantium
    aliquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis provident
    earum, reprehenderit molestias error assumenda quod, ex eligendi
    praesentium, voluptatibus in nulla sint ratione enim. Fuga, illum.
    Provident, laboriosam vitae perspiciatis doloremque quos libero minima animi
    saepe perferendis enim alias sapiente beatae accusantium eum earum omnis
    dolorem quas, nesciunt officiis quo. Similique, deserunt. Perspiciatis,
    fugit voluptatem? Repellendus eaque, incidunt obcaecati reprehenderit
    impedit adipisci numquam animi iusto voluptatibus eos enim doloremque
    aliquid amet architecto cumque molestiae sed beatae nisi voluptate officiis
    optio. Harum animi suscipit qui, illo corrupti dolores labore tempore
    accusamus ab atque? Nesciunt, ipsum dolorem! Inventore illum accusantium
    aliquam.
  </p>
</div>
<div class="bottom-navigation">
  <div class="prev" (click)="gotoPreviousPage()">
    <mat-icon>skip_previous </mat-icon>
    <span class="long">{{ previousPage().link }}</span>
    <span class="short">{{ previousPage().shortLink }}</span>
  </div>
  <div class="next" (click)="gotoNextPage()">
    <span class="long">{{ nextPage().link }}</span>
    <span class="short">{{ nextPage().shortLink }}</span>
    <mat-icon>skip_next</mat-icon>
  </div>
</div>
