@use "styles/icons";
@use "styles/dialog";

:root {
  --active-background: hsl(261, 100%, 20%);
  --active-foreground: white;
  --disabled-background: hsl(0, 0%, 80%);
  --disabled-foreground: hsl(0, 0%, 20%);
  --enabled-text: hsl(0, 0%, 20%);
  --disabled-text: hsl(0, 0%, 62%);
  --title-text: var(--active-background);
  --dimmed-border: hsl(0, 0%, 80%);
  --dimmed-background: hsla(261, 100%, 20%, 0.42);
}

html,
body {
  font-family: Lato, "Helvetica Neue", sans-serif;
  font-size: clamp(15px, calc(2vw + 2px), 20px);
  height: 100%;
  margin: 0;
  color: var(--enabled-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.875rem;
  color: var(--active-background);
}

h2 {
  font-size: 1.75rem;
  line-height: 2.375rem;
  color: var(--active-background);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--active-foreground);
  background-color: var(--active-background);
  padding: 20px 30px;
  border: 2px solid var(--active-background);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary {
  color: var(--active-foreground);
  background-color: var(--active-background);
}

.btn-secondary {
  color: var(--active-background);
  background-color: var(--active-foreground);
}

@media (hover: hover) {
  .btn:hover:enabled {
    scale: 1.1;
  }
}

.btn:focus-visible::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 2px solid var(--active-background);
  border-radius: 5px;
  pointer-events: none;
}

.btn-primary:focus-visible::after {
  border-color: var(--active-foreground);
}

button:disabled {
  color: var(--disabled-text);
  background-color: var(--disabled-background);
  border-color: var(--disabled-background);
  cursor: not-allowed;
}

.btn-small {
  padding: 10px 20px;
  font-size: 16px;
}

.cdk-overplay-pane {
  max-width: 100%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
